.op-02{
	opacity: 0.2;
}
.op-09{
	opacity: 0.9;
}
.op-08{
	opacity: 0.8;
}
.fs-12{
	font-size:12px;
}
.link{
	text-decoration: none;
}
.fs-14{
	font-size:14px;
}
.fs-110{
	font-size: 110px;
}
